/*style for the accept location window.*/
#acceptWindow{
	background-color: #0000ff;
	/*display: block;*/
	position: absolute;
	bottom: 0px;
	height: 100px;
}


#acceptWindow .acceptWindowBtn{
	font-size: 240%;
	margin: 10px;
	height: 70px;
	color: #ffffff;
	text-align: center;
	margin-top: calc(100px / 2 - 70px / 2);
	margin-bottom: auto;
}

/*#acceptWindow .acceptWindowBtn:after{
	margin-top: auto;
	margin-bottom: auto;
}*/

#acceptWindow #accept{
	background-color: green;
	float: left;
	width: calc(60% - 20px);
}

#acceptWindow #denied{
	background-color: red;
	float: right;
	width: calc(40% - 20px);
}

.acceptWindowBtn div{
	margin-top: auto;
	margin-bottom: auto;
}