#acceptWindow{
	background-color: #0000ff;
	display: block;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 150px;
	z-index: 1001;
}

#acceptWindow .hidden{
	display: none;
}


#acceptWindow .acceptWindowBtn{
	font-size: 29pt;
	margin: 10px;
	height: 70px;
	color: #ffffff;
	text-align: center;
	margin-top: calc(150px / 2 - 70px / 2);
}
/*#acceptWindow .acceptWindowBtn:after{
	margin-top: auto;
	margin-bottom: auto;
}*/

#acceptWindow #accept{
	background-color: green;
	float: left;
	width: calc(60% - 20px);
}

#acceptWindow #denied{
	background-color: red;
	float: right;
	width: calc(40% - 20px);
}
