.btn{
	font-size: 240%;
	margin: 10px;
	height: 50px;

	/*float: right;*/

	background-color: purple;

	color: #ffffff;
	text-align: center;

	/*padding-top: calc(50px / 2 - 70px / 2);*/
	/*margin-bottom: auto;*/
}

.btn#accept{
	background-color: green;
	/*float: left;*/
	/*margin-right: auto;*/
	/*max-width: calc(60% - 20px);*/
}

.btn#denied{
	background-color: red;
	/*float: right;*/
	/*margin-left: auto;*/
	/*max-width: calc(40% - 20px);*/
}