*{
	padding: 0px;
	margin: 0px;
}

#static{
	position: absolute;
	left: 0px;
	top: 40px;

	width: 100%;
	max-width: 100%;
	height: calc(100% - 40px);
}

#map{
	height: 100%;
	width: 100%;
}

.hidden{
	display: none;
}