header{
	background: green;
	
	height: 40px;
	width: 100%;

	position: absolute;
	left: 0px;
	top: 0px;
}

#MenuOpenBtn{
	background: gray;
	height: 30px;
	width: 30px;
	margin-left: 5px;
	margin-top: 5px;
}

#menu{
	background: red;
	width: 200px;
	height: calc(100% - 40px); 
	overflow: hidden;
	margin-left: -200px;

	position: absolute;
	top: 40px;
	left: 0px;
}

#overlay{
	/*width: calc(100% - 200px);*/
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.5);

	float: right;
	display: none;
	z-index: 1010;

	position: absolute;
	top: 0px;
}


.menu-open #menu{
	margin: 0px !important;
}

.menu-open #static{
	margin-left: 200px;
	max-width: calc(100% - 200px);
	overflow: hidden;
}

.menu-open #overlay{
	display: inline;
}