/*slide menu container class*/
#menu{
	width: 200px;
	min-width: 200px;
	height: 100%;
	float: left;
	margin-left: -200px;
	background-color: red;
}

/*the div that makes it all unclickable*/
#overlay{
	width: calc(100% - 200px);
	height: 100%;
	background-color: rgba(0,0,0, 0.5);
	float: right;
	display: none;
	z-index: 1002;
	position: absolute;
	top: 0px;
	right: 0px;
	left: 200px;
}

/*the changes when the menu opens*/
.menu-open #menu{
	margin-left: 0px;
}

.menu-open #static{
	margin-left: 200px;
}

.menu-open #overlay{
	display: inline;
}

/*make up for the buttons in the side menu*/
.mButton{
	margin: 0px;
	margin-top: 10px;
}

.mButton li{
	background-color: rgb(50,50,50);
	color: rgb(200,200,200);
	margin-left: 10px;
	margin-right: 10px;
	padding: 3px;
	text-align: center;
}

.mButton ul li{
	margin-left: 10px;
	margin-right: 10px;
	background-color: rgb(100,100,100);
	display: none;
}

.mButton .submenu-open li{
	display: inline;
}
