/*css for the tag selection window*/
#tagSelectWindow{
	background-color: rgb(255, 160, 0);
}

#tagSelectWindowTop{
	position: top;

	width: 100%;

	background-color: rgb(255,140,0);
}

#tagSelectWindowCancelBtn{

}

#tagSelectWindowCustomBtn{
	
}

/*for devices lager then 640 px*/

.menu-open #tagSelectWindow{
	overflow: hidden;
}

@media (min-width: 640px) {
	.tagSelectBtn{

		margin: 5px;
		padding: 4px;

		width: 47%;

		float: left;

		color: white;
		font-size: 250%;
		text-align: center;

		background-color: gray;
	}
}

/*for devices smaller then 640 px*/
@media (max-width: 640px) {
	.tagSelectBtn{

		margin: 5px;
		padding: 4px;

		color: white;
		font-size: 250%;
		text-align: center;

		background-color: gray;
	}
}