/*a standard window class that has some values that every window needs*/
.window{
	width: 100%;

	z-index: 1001;

	position: absolute;

	overflow: hidden;
}

/*use if it needs to full the whole of the main area without the header.*/
.windowFullScreen{
	min-height: calc(100% - 40px);
}

/*makes shit invisible*/
.hidden{
	display: none;
}

/*a standard menu for accepting or declining*/
.choicebox{

}

.choicebox .btn#accept{
	background-color: green;
	float: left;
	width: calc(60% - 20px);
}

.choicebox .btn#denied{
	background-color: red;
	float: right;
	width: calc(40% - 20px);
}