/*a standard window class that has some values that every window needs*/
.window{
	width: 100%;
	max-height: calc(100% - 40px);

	z-index: 1001;

	position: absolute;
}

/*use if it needs to full the whole of the main area without the header.*/
.windowFullScreen{
	top: 40px;
	left: 0px;
	right: 0px;
	bottom: -40px;
}

/*makes shit invisible*/
.hidden{
	display: none;
}